@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@font-face {
  font-family: "Genericons";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot")
      format("truetype");
}
body {
  color: black;
  background-color: #2a2a2a;
  /*background-image:url(../img/background2.jpg);*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
header {
  display: flex; /* Transformation en flexbox */
  padding: 0; /* Suppression des marges internes */
  justify-content: center; /* Alignements des liens dans le menu */
}

header li {
  list-style-type: none; /* Suppression des puces */
  display: inline-block;
}

header a {
  display: block; /* Transformation en block */
  min-width: 120px; /* Largeur minimale des liens */
  background-color: #05050528;
  margin: 0.5rem; /* Marges externes (1 valeurs = 4 directions) */
  padding: 0.4rem 0; /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
  text-align: center; /* Centrage du texte */
  color: #fff; /* Couleur du texte */
  text-decoration: none; /* Suppression du soulignement */
  border: 1px solid rgb(255, 255, 255); /* Ajout d'une bordure */
  border-radius: 4px; /* Arrondis des bordures */
  transition: all 1s; /* Ajout des effets de transition */
}

header a:hover {
  background-color: #05050500;
  color: #33a3ff;
  border-color: #00a2ff;
}

.text {
  color: #cacaca;
  text-align: center;
  font-size: 50px;
  font-family: FEGAN;
  margin: 180px;
}

.text h1 {
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 255, 255);
}

.img-fluid {
  height: auto;
  width: auto;
}

.banner_inner {
  border: none;
  padding: 0px;
  border-radius: 5px;
  box-shadow: none;
  margin: 0px;
  font-size: 1.2em;
  color: rgb(233, 216, 216)
}

.banner_inner .g_item_text p {
  content: "\e87a";
  font-family: "Linearicons-Free";
  position: absolute;
  right: 89%;
  top: 78%;
}
.h_gallery_item {
  display: inline-block;
  margin-bottom: 45px;
}
.h_gallery_item .g_img_item {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
}
.h_gallery_item .g_img_item:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  position: absolute;
  opacity: 0;
  transition: all 300ms ease;
}
.h_gallery_item .g_img_item .light {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  opacity: 0;
}
.h_gallery_item .g_item_text {
  text-align: center;
}
.h_gallery_item .g_item_text h5 {
  color: #fff;
  font-size: 21px;
  margin-top: 22px;
  transition: all 300ms linear 0s;
}
.h_gallery_item .g_item_text p {
  margin-bottom: 0px;
  color: white;
}
.h_gallery_item:hover .g_img_item:before {
  opacity: 0.85;
}
.h_gallery_item:hover .g_img_item .light {
  opacity: 1;
}
.h_gallery_item:hover .g_item_text h5:hover {
  color: #766dff;
}
/* 2 eme acticle */

.banner_inner2 {
  text-align: center;
  font-size: 1.2em;
  color: rgb(233, 216, 216)
}
.banner_inner2 :hover {
  color: #766dff;
}
.banner_inner2 img {
  border-radius: 10px;
  box-shadow: black 5px 2px 5px;
  
}
.banneriprog {
  text-align: center;
  font-size: 1.2em;
}


/* 3 eme acticle */

.banner_inner3 {
  text-align: center;
  font-size: 1.2em;
  color: rgb(233, 216, 216)
  
}

/* 4 eme acticle */
.banner_inner4 {
  text-align: center;
  font-size: 1.2em;
  color: rgb(233, 216, 216)
  
}

/* 5 eme acticle */
.banner_inner5 {
  text-align: center;
  font-size: 1.2em;
  color: rgb(233, 216, 216)
  
}


.img-fluid2 {
  width: 150vh;
  height: auto;
  border-radius: 10px;
  transition: transform .2s; /* Animation */
}

.img-fluid2:hover {
  transform: scale(1.1);
}

@media(min-width: 300px) and (max-width: 1388px) {

  .img-fluid2 {
    width: 50vh;
    height: auto;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
  
  }


  .img-fluid {
    width: 50vh;
    height: auto;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
    display: block;
    margin: auto;
    padding : 0px;
  }

  .text {
    font-size: 20px;
  }
  .banner_inner {
  width: 40vh;
  height: auto;
  border-radius: 10px;
  transition: transform .2s; /* Animation */
  display: block;
  margin: 70px;
  padding : 0px;
}
}


